<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>SoulShepherd</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SoulShepherd Prototype">
    <meta name="author" content="">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>

    <link rel="stylesheet" href="main.css">

    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="form-controller">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1" id="phone">
            <div id="outerPhone">
                <div id="content">
                    <div ng-repeat="not in notifications | filter: { context: search } track by $index">
                        <div class="notification {{not.context}}">
                            <p>{{not.sender}}: {{not.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2" id="menu">
            <form>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="context" value="home" ng-model="search">
                            Home
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="context" value="work" ng-model="search">
                            Work
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="context" value="street" ng-model="search">
                            On the streets
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="context" value="busy" ng-model="search">
                            Busy (in a meeting etc.)
                        </label>
                    </div>
                    <input type="text" ng-model="search"/>
                </div>
            </form>
            <div ng-repeat="item in formData track by $index">
                <div>
                    {{item}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>