<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>SoulShepherd</title>
		
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="SoulShepherd Prototype">
    	<meta name="author" content="">
    	
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
		
		<link rel="stylesheet" href="main.css">
		
		<script src="lib/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="form-controller">
		<div class="container">
			<div class="row">
				<div class="col-md-6" id="phone">
					<div id="outerPhone">
						<div id="content">
							<div class="notification home">
								<p>home</p>
							</div>
							<div class="notification work">
								<p>work</p>
							</div>
							<div class="notification street">
								<p>street</p>
							</div>
							<div class="notification street busy">
								<p>busy</p>
							</div>
							<div class="notification home">
								<p>home</p>
							</div>
							<div class="notification work">
								<p>work</p>
							</div>
							<div class="notification street">
								<p>street</p>
							</div>
							<div class="notification busy">
								<p>busy</p>
							</div>
							<div class="notification home">
								<p>home</p>
							</div>
							<div class="notification work">
								<p>work</p>
							</div>
							<div class="notification street">
								<p>street</p>
							</div>
							<div class="notification busy">
								<p>busy</p>
							</div>
							<div class="notification home">
								<p>home</p>
							</div>
							<div class="notification work">
								<p>work</p>
							</div>
							<div class="notification street">
								<p>street</p>
							</div>
							<div class="notification busy">
								<p>busy</p>
							</div>
							<div class="notification home">
								<p>home</p>
							</div>
							<div class="notification work">
								<p>work</p>
							</div>
							<div class="notification street">
								<p>street</p>
							</div>
							<div class="notification busy">
								<p>busy</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="menu">
					<form>
						<div class="form-group">
							<div class="radio">
								<label>
									<input type="radio" name="context" value="home" ng-model="myInput">
									Home
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="context" value="work" ngmodel="myInput">
									Work
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="context" value="street" ngmodel="myInput">
									On the streets
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="context" value="busy" ngmodel="myInput">
									Busy (in a meeting etc.)
								</label>
							</div>
							<input type="text" ng-model="myInput" /> {{myInput}}
							<button ng-click="submitform()" class="btn" ng-class="{'btn-success' : color=='red'}">reload</button>
						</div>
					</form>
					<pre>
    					<div ng-repeat="item in formData">
    						<div>
    							{{item}}
    						</div>
    					</div>
					</pre>
				</div>
			</div>
		</div>
	</body>