@charset 'UTF-8';

body {
	margin:0;
	background-color: #FFF;
}

.row {
	margin-top: 20px;
}

.container {
	margin:auto;
}
#phone {
	border:1px solid #00000;
	-moz-border-radius:50px;
	border-radius:50px;
	/*width:350px;*/
	padding: 10px 10px 10px 10px;
	background-color: #AAAAAA;
	-moz-border-radius:50px;
	border-radius:50px;
}
#outerPhone {
	padding: 100px 30px 40px 30px;
	background-color: #000;
	-moz-border-radius:50px;
	border-radius:50px;
}
#content {
	background-color:#FFF;
	height:450px;
	overflow:auto;
}
.notification {
	background-color: #AAAAAA;
	height:50px;
}
.Game {
	background-color: #cc33cc;
}
.SnapChat {
	background-color: #FFF000;
}
.Facebook {
	background-color: #6699ff;
}
.Call {
	background-color: #00AA00;
}
.Calendar {
	background-color: #cc3333;
}
.SMS {
	background-color: #FF9900;
}
.e-mail {
	background-color: #7AF6F5;
}