@charset 'UTF-8';

body {
	margin:0;
	background-color: #FFF;
}

.row {
	margin-top: 20px;
}

.container {
	margin:auto;
}
.phone {
	border:1px solid #00000;
	-moz-border-radius:50px;
	border-radius:50px;
	width:350px;
	padding: 10px 10px 10px 10px;
	background-color: #AAAAAA;
	position: center;
	margin:auto;
}
.outerPhone {
	padding: 100px 30px 40px 30px;
	background-color: #000;
	-moz-border-radius:50px;
	border-radius:50px;
}
.content {
	background-color:#FFF;
	height:450px;
	overflow:auto;
}
.notification {
	background-color: #AAAAAA;
	height:50px;
}
.Game {
	background-color: #cc33cc;
}
.SnapChat {
	background-color: #FFF000;
}
.Facebook {
	background-color: #6699ff;
}
.Call {
	background-color: #00AA00;
}
.Calendar {
	background-color: #cc3333;
}
.SMS {
	background-color: #FF9900;
}
.e-mail {
	background-color: #7AF6F5;
}

.inline
{
	display: inline-block;
}

#menu
{

}

.inside-phone
{
	width: 100%;
	margin: auto;
	marging-top:10px;
	margin-bottom: 10px;
}

.outside-phone
{
	margin : auto;
	width: 150px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.button-outside-phone
{
	width: 150px;
	margin : auto;
	margin-top: 10px;
	margin-bottom: 30px;
}

#contextSelection
{
	width: 100%;
}

.notificationViewer
{
	margin-left:10%;
	margin-right: 10%;
	margin-top: 10px;
}

.spaceTop
{
	margin-top: 100px;
}

.singleNotification
{
	margin-bottom: 10px;
	padding: 5px;
	border:1px solid lightgrey;
	background: #EEE;
	-moz-border-radius:10px;
	border-radius:10px;
}

#userInput
{
	text-align: center;
}
.sourceApp
{
	font-weight: bold;
}
.sender
{
	font:bold;
}
.notificationContent
{
	margin-top:5px;
	padding-top: 5px;
	border-top: solid lightgrey 1px;
}